---
interface Props {
	draft: boolean;
  noindex: boolean;
	title: string;
	description: string;
	image: string;
}

import { getEntry } from 'astro:content'

import Layout from '@layouts/Default.astro'
import SearchBar from '@components/vue/SearchBar.vue'
import SectionCardList from '@components/vue/SectionCardList.vue'

import { SITE_URL } from '@/consts';

const page = await getEntry('institutional', 'home')
---

<Layout
	draft={page.data.draft}
	noindex={page.data.noindex}
	title={page.data.title}
	description={page.data.description}
	image={page.data.image}
>
	<!-- Hero -->
	<div
		class="flex w-full h-[calc(100vh-90px)] bg-primary-500 justify-center overflow-hidden relative z-0"
	>
		<div
			class="flex flex-col w-full h-full items-center z-20 justify-between py-8 px-container"
		>
			<div class="flex flex-col w-full justify-center items-center h-full">
				<span class="text-heading-5 text-white text-center font-bold max-w-2xl">
					Há 50 anos reimaginando vidas.
				</span>
			</div>
			<SearchBar />
		</div>
		<div class="absolute z-0 h-[calc(100vh-90px)] w-full">
			<video
				class="object-cover opacity-10 pointer-events-none h-[calc(100vh-90px)] w-full"
				src="/video-home.mp4"
				autoplay
				loop
				muted
				playsinline
			>
			</video>
		</div>
	</div>

	<div class="flex flex-col gap-5 md:gap-10 py-4 md:py-16 px-container w-full">
		<SectionCardList
			title="Imóveis Exclusivos para Alugar"
			link={{
				href: `${SITE_URL}/exclusivo-locacao/`,
				label: 'Ver todos os imóveis exclusivos para alugar'
			}}
			items={[]}
		/>
	</div>
</Layout>
